My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "first-workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -100
      ],
      "id": "e09cacba-230c-42ba-b955-01c50ae24565",
      "name": "Webhook",
      "webhookId": "58b8bd29-eea7-42f4-abc5-3537864e46b4"
    },
    {
      "parameters": {
        "jsCode": "const name = $input.first().json.body?.name || \"Guest\";\nreturn {\n  json: {\n    message: `Hello, ${name}! Welcome to n8n`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        -80
      ],
      "id": "780b1308-7a24-468a-befb-bb847433a65f",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        480,
        -180
      ],
      "id": "7719a5d0-6ec0-4e59-b363-a7c774e3d12e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3458165f-888e-4b73-b3e6-e6aa98520eff",
  "meta": {
    "instanceId": "a7fc4861412f7a51b27ce553ebe82c72f236497dd64ed2bbc155930429d1b973"
  },
  "id": "zxR9fovmSyONkxUs",
  "tags": []
}